bin/
obj/
node_modules/
.angular/
dist/
.env
appsettings.Development.json
.idea/
.vs/
.vscode/
*.user
*.suo

db-backup/

# Azure / Bicep local deployment files
*.local.bicepparam

# Generated Bicep ARM templates
infra/*.json
